*{
    margin: 0;
    padding: 0;
}
.carousel-inner{
    height: 90vh;
}
.About-us{
    display: flex;
    flex-direction: column;
}
.tittle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    border-radius: 10px;    
}
.cardd{
    width: 70%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    gap: 25px
}
.card img{
    height: 50vh;
    object-fit: cover;
    width: 17.9rem;
}